<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Bookingcontroller</display-name>
    <servlet-name>Bookingcontroller</servlet-name>
    <servlet-class>booking.Bookingcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bookingcontroller</servlet-name>
    <url-pattern>/Bookingcontroller</url-pattern>
  </servlet-mapping>
  <display-name>OOPproject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InsertServlet</display-name>
    <servlet-name>InsertServlet</servlet-name>
    <servlet-class>booking.InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertServlet</servlet-name>
    <url-pattern>/InsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bookingcontroll</display-name>
    <servlet-name>Bookingcontroll</servlet-name>
    <servlet-class>booking.Bookingcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bookingcontroll</servlet-name>
    <url-pattern>/Bookingcontroll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBookingServlet</display-name>
    <servlet-name>GetBookingServlet</servlet-name>
    <servlet-class>booking.GetBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBookingServlet</servlet-name>
    <url-pattern>/GetBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBookingServlet</display-name>
    <servlet-name>UpdateBookingServlet</servlet-name>
    <servlet-class>booking.UpdateBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBookingServlet</servlet-name>
    <url-pattern>/UpdateBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBookingServlet</display-name>
    <servlet-name>DeleteBookingServlet</servlet-name>
    <servlet-class>booking.DeleteBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookingServlet</servlet-name>
    <url-pattern>/DeleteBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSignUpServlet</display-name>
    <servlet-name>UserSignUpServlet</servlet-name>
    <servlet-class>Userloging.UserSignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSignUpServlet</servlet-name>
    <url-pattern>/UserSignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>Userloging.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayUserServlet</display-name>
    <servlet-name>DisplayUserServlet</servlet-name>
    <servlet-class>Userloging.DisplayUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayUserServlet</servlet-name>
    <url-pattern>/DisplayUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserservarlet</display-name>
    <servlet-name>UpdateUserservarlet</servlet-name>
    <servlet-class>Userloging.UpdateUserservarlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserservarlet</servlet-name>
    <url-pattern>/UpdateUserservarlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUsrServlet</display-name>
    <servlet-name>DeleteUsrServlet</servlet-name>
    <servlet-class>Userloging.DeleteUsrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUsrServlet</servlet-name>
    <url-pattern>/DeleteUsrServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createeventServlet</display-name>
    <servlet-name>createeventServlet</servlet-name>
    <servlet-class>Event.createeventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createeventServlet</servlet-name>
    <url-pattern>/createeventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>readeventServlet</display-name>
    <servlet-name>readeventServlet</servlet-name>
    <servlet-class>Event.readeventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>readeventServlet</servlet-name>
    <url-pattern>/readeventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEventSevelet</display-name>
    <servlet-name>UpdateEventSevelet</servlet-name>
    <servlet-class>Event.UpdateEventSevelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEventSevelet</servlet-name>
    <url-pattern>/UpdateEventSevelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventDBUtil1</display-name>
    <servlet-name>EventDBUtil1</servlet-name>
    <servlet-class>Event.EventDBUtil1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventDBUtil1</servlet-name>
    <url-pattern>/EventDBUtil1</url-pattern>
  </servlet-mapping>
</web-app>