/* Navbar */
.navbar {
    background-color: #433878;
    color: #fff;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item a:hover {
    color: #C8A1E0;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

/* Container */
.container {
    max-width: 1100px;
    margin: 30px auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Card */
.card {
    background: linear-gradient(145deg, #7E60BF, #C8A1E0);
    border: none;
    border-radius: 10px;
    width: 30%;
    margin: 10px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card-title {
    font-size: 22px;
    font-weight: bold;
}

.card-body {
    color: #fff;
}

/* Button */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #C8A1E0;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #E4B1F0;
    color: black;
}

/* Footer */
footer {
    background-color: #433878;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    border-top: 3px solid #7E60BF;
}
